node_modules/
dist/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.astro/
data/*.db
data/*.db-wal
data/*.db-shm
.env
.env.local
.vercel/
.DS_Store
.vercel

# Xcode
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
DerivedData/
build/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
